[build]
builder = "NIXPACKS"

[deploy]
startCommand = "node --no-warnings src/server.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 30
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
